.btnclick{
    @apply absolute top-2 left-12 items-center p-2 mt-2 ml-3 text-sm
             text-gray-500 rounded-lg sm:hidden hover:bg-gray-100
              focus:outline-none focus:ring-2 focus:ring-gray-200
               dark:text-gray-400 dark:hover:bg-gray-700
                dark:focus:ring-gray-600;
}

.aside{
    @apply fixed top-16 left-0 z-40 w-64 h-full  sm:translate-x-0;
    @layer transition-transform-translate-x-full;
}

.ctnaside{
     @apply h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800;
}

.lia{
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}

.ul{
    @apply pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700;

}

.menu{
    @apply flex items-center w-full p-2 text-base text-gray-900 transition 
            duration-75 rounded-lg  hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700;
}

.span{
    @apply flex-1 ml-3 text-left whitespace-nowrap;
}

.icono{
    @apply text-gray-400 text-lg mr-2;
}
    
